/* * {
    box-sizing: border-box;
    border: 1px solid red;
    
} */
body {
    display: grid;
    text-align: center;
    justify-content: center;
}
.tic-tac-toe {
    text-align: center;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    height: 100px;
    width: 100px;
}
.box {
    background-color: white;
}
.player-one {
    background-color: rgb(193, 21, 251);
}
.player-two {
    background-color: rgb(251, 21, 170);
}
.player-one-input {
    display: flex;
    text-align: left;
    justify-content: space-around;
    margin:0.5rem;

}
li {
    list-style: none;
    /* margin-left: -2.5rem; */
}

.player-two-input {
    display: flex;
    text-align: left;
    justify-content: space-around;
    margin:0.5rem;
}
/* h3 {
    margin-block-start: 0rem;
} */
.winner {
    background-color: green;
}
.playOneOutput {
    margin-left: -2.5rem;
}
.playTwoOutput {
    margin-left: -2.5rem;
}
.winner {
    background-color: black;
}