* {
    box-sizing: border-box;
    border: 1px solid red;
    
}
section {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    height: 100px;
    width: 100px;
}
.box {
    background-color: white;
}
.player-one {
    background-color: rgb(193, 21, 251);
}
.player-two {
    background-color: rgb(251, 21, 170);
}
